.required {
    color: red;
}

.container {
    min-height: calc(100vh - 128px);
    padding-top: 5rem;
}

#root {
    height: 100%;
    margin: 1rem 0;
}

#footer {
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    width: 100%;
    background-color: #f8f9fa;
    margin: 0px !important;
}

.footer-links {
    color: #4d4d4d;
    text-decoration: underline;
}

.footer-links:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.footer-tagline {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.links-border-right {
    border-right: 0.5px solid ;
}

.menu-item {
    display: inline;
    padding: 0.375em 9px;
}

.landing-page-images {
    height: 100%;
    width: 100%;
}

.row {
    padding: .5rem;
}

.images-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.join-now-col {
    text-align: center;
    background-color: #aa0201;
    color: #ffffff;
    padding: 2rem 0.25rem !important;
}

.join-now-btn {
    background-color: transparent !important;
    border-color: #ffffff !important;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
    color: #ffffff !important;
}

.eligibility-form {
    margin: 0 0.5rem;
}

.join-now-heading {
    white-space: normal;
    font-size: 1.4vw;
}

.images-grid {
    padding: 0px !important;
}

.images-row {
    padding: 0px !important;
    margin: 0px !important;
}

.show-text {
    padding: 10px 0px;
    margin-left: -27px;
    z-index: 9;
    cursor: pointer;
}

#resetPassword {
    padding-right: 2rem;
}

.active {
    color: #000000 !important;
}

.nav-item {
    color: rgba(0,0,0,.5) !important;
}

.form-group {
    padding-left: 0px !important;
}

.btn:hover {
    cursor: pointer;
}

.heading {
    color: #aa0201;
    font-size: 1rem;
    font-weight: bold;
}

.description {
    font-size: 0.8rem;
}

.bar-code-image {
    height: 75%;
    width: 75%;
    max-height: 125px;
    max-width: 150px;
}

.about-cancer {
    margin-right: 30px;
}

.list {
    padding-left: 0.75rem;
}

.auth-details-table{
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
}

.fa-times {
    color: #fc0000;
}

.h4 {
    margin-top: 2rem;
}

.table-heading {
    font-weight: bold;
    font-size: 1rem;
}

.site-logo {
    height: 80%;
    width: 75%; 
}

#siteLogos {
    margin-left: 8px;
    margin-right: 8px;
}

.consentSign {
    font-size: 30px !important;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #aa0201 !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.color-red {
    color: red;
}

.embedPdf {
    width: 100%;
    height: calc(100vh - 398px);
    min-height: 500px;
}

.spinner-saving {
    height: 1rem !important;
    width: 1rem !important;
}

.not-compatible{
    color: #aa0201;
    font-weight: bold;
}

.consent-form{
    padding: 0px !important
}

#canvasContainer {
    scroll-behavior: smooth;
    overflow: scroll;
    min-height: 500px;
    height: calc(100vh - 398px);
    width: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: 0px;
}

canvas {
    border-bottom: 1px solid #000000;
}

.consent-form-label {
    font-weight: bold;
}

#userProfileForm {
    margin-top: 1rem;
}

.sub-heading{
    font-size: 0.75rem;
}

.sub-div-shadow {
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.questionnaire-module-list {
    list-style: none;
    padding: 0;
}

.faq-btn {
    width: 100%;
    background-color: inherit !important;
    color: inherit !important;
    border: 1px solid #000000 !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.btn-disbaled {
    cursor: not-allowed !important;
}

.settings-header {
    border-bottom: 1px dotted #b6b6b6;
}

#editUserProfile {
    color: #cf2d59;
}

#editUserProfile:hover {
    cursor: pointer;
}

.list-item {
    margin: 2px;
    width: max-content;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    font-size: larger;
}

.list-item-active {
    background-color: #b1cee7 !important;
    cursor: pointer;
}

.no-text-decoration {
    color: #000000 !important;
    text-decoration: none !important;
}

.list-item-active:hover {
    background-color: #609acc;
}

.list-item-disable {
    background-color: #c4c4c4;
    cursor: not-allowed;
}

.topic {
    font-weight: bold;
}

.sub-form {
    padding-left: 2rem;
}

#loadingAnimation {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.5);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#loadingAnimation::after {
    content:'';
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#585858;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.btn-light {
    background-color: #c5c6c8 !important;
}

.hyphen {
    padding: 0.225rem;
}

.up-btns {
    padding: 6px 0px !important;
    height: fit-content !important;
    height: max-content !important;
}

.active {
    border-color: #007bff !important;
    border-width: 1.5px !important;
}

.form-error {
    color: red;
    font-size: small;
}

.btn-group {
    padding: 0px !important;
}

.allow-overflow {
    overflow: auto;
}

#additionalEmailBtn {
    padding-left: 0px;
}

.connect-notification {
    position: relative;
}

.notification {
    position: absolute; 
    top: 2rem; 
    right: -5rem; 
    z-index: 9;
}

#retrieveNotifications {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}

.notification-modal {
    right: 0px !important;
    position: absolute !important;
    margin: 0px !important;
    min-width: 350px;
}

.notification-modal-body {
    min-height: calc(100vh - 134px);
    overflow: auto;
}

.notification-card {
    margin-bottom: 0.5rem;
}

.notification-time-card {
    border: 0px !important;
}

.notification-time-header{
    border: 0px !important;
    background-color: transparent !important;
    padding-left: 0px !important;
    font-style: italic;
}

.notification-time-body {
    border: 0px !important;
    padding: 0px !important;
}

.current-page {
    border-bottom: 2px solid #918c8d !important;
}

.nav-link {
    color: #000000 !important;
}

.navbar-nav:hover {
    border-bottom: 2px solid #bc1f40 !important;
}

.btn-agreement {
    border: 0px;
}

.form-control, .btn-group, #addMoreEmail {
    margin-left: 5px;
}

.dark-mode {
    background-color: #1c1e21 !important;
    color: #ffffff !important;
    border-color: #918c8d !important;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1e21 !important;
        color: #ffffff !important;
        border-color: #918c8d !important;
    }
}
  @media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
} */

.dark-modal {
    background-color: #1c1e21 !important;
    color: #ffffff !important;
    border-color: #4b4a4a !important;
}

.option-dark-mode {
    background-color: #c5c6c8 !important;
    color: #000000 !important;
}

.modal-dialog {
    border-radius: 0.4rem;
}

.form-control, .close-modal, .card, .toast, .card-header, .faq-btn, .links-border-right {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}

.up-btns, .btn-agreement {
    border-color: inherit !important;
}

.footer-dark-mode {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

.footer-col {
    width: 100% !important;
    padding-top: 5px;
}

.footer-row {
    padding-bottom: 10px;
    margin: 0px !important;
}

.nav-link-dark {
    color: #ffffff !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #3A3B3C;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fa-share, .fa-female, .fa-users, .fa-searchengin {
    margin: 5px 0px 0px 5px;
}

.fa-male {
    margin-top: 5px;
}

.invalid {
    border-color: #dc3545 !important;
}

.col-custom {
    flex: 0 0 1.5%;
    max-width: 8.333333%;
}

.error-text {
    padding-left: 5px !important;
}
