.required {
    color: red;
}

.container {
    min-height: calc(100vh - 65px);
    padding-top: 5rem;
}

#root {
    height: 100%;
}

.landing-page-images {
    height: 100%;
    width: 100%;
}

.row {
    padding: .5rem;
}

.images-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.join-now-col {
    text-align: center;
    background-color: #aa0201;
    color: #ffffff;
    padding: 2rem 0.25rem !important;
}

.join-now-btn {
    background-color: transparent !important;
    border-color: #ffffff !important;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
    color: #ffffff !important;
}

.eligibility-form {
    margin: 0 0.5rem;
}

.join-now-heading {
    white-space: normal;
    font-size: 1.4vw;
}

.images-grid {
    padding: 0px !important;
}

.images-row {
    padding: 0px !important;
    margin: 0px !important;
}

.active {
    color: #000000 !important;
}

.nav-item {
    color: rgba(0,0,0,.5) !important;
}

.heading {
    color: #aa0201;
    font-size: 1rem;
    font-weight: bold;
}

.description {
    font-size: 0.8rem;
}

.bar-code-image {
    height: 75%;
    width: 75%;
}

.list {
    padding-left: 0.75rem;
}

.auth-details-table{
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
}

.fa-times {
    color: #fc0000;
}

.h4 {
    margin-top: 2rem;
}

.table-heading {
    font-weight: bold;
    font-size: 1rem;
}

.site-logo {
    height: 80%;
    width: 75%; 
}

#siteLogos {
    background-color: #ffffff;
    border-left: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
}
